<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://unpkg.com/css-font-family@1.0.6/css/css-font-family.min.css" />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <div class="container">

      <div class="container-blue">

      <div class="nav">
        <div class="logo">IFTTT</div>
        <div class="nav_menu">
          <% if (lang && lang == "jp") { %>
            <a href="#">サインイン</a>
            <a class="sign-up-button" href="#">サインアップ</a>
          <% } else { %>
            <a href="#">Sign in</a>
            <a class="sign-up-button" href="#">Sign up</a>
          <% } %>


        </div>
      </div>

      <div class="banner">
        <p class="banner-text-1">
          <% if (lang && lang == "jp") { %>
            愛しているサービスをさらに活用してください
          <% } else { %>
            Do more with the services you love
          <% } %>
        </p>

        <div class="button-big">
          <span class="button-big-text">
            <% if (lang && lang == "jp") { %>
              スタートします！
            <% } else { %>
              Get started
            <% } %>
          </span>
        </div>

        <p class="banner-text-2">
          <% if (lang && lang == "jp") { %>
            フリーアカウントにサインアップして、何百ものお気に入りのサービスで動作するアプレットを有効にする
          <% } else { %>
            Sign up for a free account and turn on Applets that work with hundreds of your favorite services
          <% } %>
        </p>

        <div class="applet-container vertical-container">

        <div class="applet red">
          <span class="applet-text">Tweet your instagram as native photos on Twitter</span>
        </div>

        <div class="applet blue">
          <span class="applet-text">Track your work hours in Google Calendar</span>
        </div>

        <div class="applet green1">
          <span class="applet-text">Mute your Android phone when you arrive at work</span>
        </div>

        <div class="applet black">
          <span class="applet-text">Get weather forecast every day at 7:00 AM</span>
        </div>

        <div class="applet green2">
          <span class="applet-text">Sync all your new iOS Contacts to a Google Spreadsheet</span>
        </div>

      </div>

      </div> <!-- end of banner -->

    </div> <!-- end of container-blue -->

    <div class="container-discover">

      <p class="discover-text-2">
        Discover Applets for every part of your life
      </p>

        <div class="discover-applet-container">
          <div class="discover-applet">
            <span class="discover-applet-text">15 Applets for the environment</span>
            <img src="/images/discover/01.png" alt="15 Applets for the environment">
          </div>

          <div class="discover-applet">
            18 Applets for the news
          </div>

          <div class="discover-applet">
            18 Applets for Google
          </div>

          <div class="discover-applet">
            15 Applets for iOS
          </div>
      </div> <!-- end of discover-applet-container -->

      <div class="button-small">
        <span class="button-small-text text-white">

          <% if (lang && lang == "jp") { %>
            サインアップ
          <% } else { %>
            Sign up
          <% } %>

        </span>
      </div>

    </div> <!-- container-discover -->



    </div> <!-- end of container -->


    <div class="footer">
      <ul>

        <% if (lang && lang == "jp") { %>
          <li><a href="#">会社情報</a></li>
          <li><a href="#">プラットフォーム</a></li>
          <li><a href="#">ブログ</a></li>
          <li><a href="#">コミュニティ</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">プライバシー</a></li>

        <% } else { %>
          <li><a href="#">About</a></li>
          <li><a href="#">Platform</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>

        <% } %>


      </ul>

      <div class="badge-container vertical-align">
        <a href="#"><img class="app-store-badge" src="/images/app_store_badges/app-store-badge.svg"/></a>
        <a href="#"><img class="google-play-badge" src="/images/app_store_badges/google-play-badge.png"/></a>
      </div>

    </div> <!-- end of footer -->

  </body>
</html>
